/**HEADER STYLES **/
.header {
  font-family: "Fira Code";
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "logo-link header"
    "sub-title sub-title"
    "nav nav";
}
.logo-link {
  grid-area: logo-link;
}
.logo {
  grid-area: logo;
  width: 8rem;
}

.header-section {
  grid-area: header;
  align-self: center;
}

.header-section {
  margin-left: 0.5rem;
}
.title {
  font-weight: bold;
  font-size: 2rem;
}

.sub-title {
  grid-area: sub-title;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.nav {
  grid-area: nav;
  padding: 0;
}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0.5rem 0;
  margin: 0;
  justify-items: center;
}

/**FOOTER STYLES **/
.footer {
  font-family: "Fira Code";
  margin-top: 0.5rem;
  font-size: 0.9rem;
  display: grid;
  background-color: #d3d3d3;
  padding-left: 0.5em;
  justify-content: space-around;
}

.footer-socials span:first-child {
  font-weight: bold;
  justify-self: center;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0;
  justify-items: center;
}
.footer-socials {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.footer-socials > span {
  align-self: center;
  padding: 0.1rem;
}

.footer-socials > span > a {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  gap: 1rem;
}

.logo-social {
  width: 1.2rem;
}

.logo-social.x {
  width: 0.9rem;
}
/**MAIN STYLES**/
.main {
  padding: 0 1rem;
}

@media screen and (min-width: 47.5rem) {
  /**HEADER STYLES **/
  .header {
    grid-template-columns: 1fr 7fr;
    grid-template-areas: "logo-link header";
  }
  .header-section {
    width: 98%;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    grid-template-areas:
      "title title"
      "sub-title nav";
  }

  .sub-title {
    justify-self: start;
  }
  .title {
    grid-area: title;
    font-size: 3rem;
    align-self: center;
  }

  .nav {
    justify-self: end;
    background-color: #fff;
  }

  .nav ul {
    padding: 0;
    gap: 4em;
  }

  .nav ul li:last-child {
    padding-right: 0.75rem;
  }

  /**FOOTER STYLES **/
  .footer {
    padding: 0rem 0.25rem 0.5rem 0;
  }
  .footer-content {
    justify-self: center;
    gap: 5rem;
  }
  .footer-socials {
    grid-template-columns: repeat(4, 0.75fr);
    grid-template-rows: 1fr;
    justify-self: end;
  }

  .footer-socials > span {
    align-self: normal;
  }

  .footer-socials > span > a {
    gap: 0.5rem;
  }

  .footer a,
  .footer a:link,
  .footer a:visited {
    color: #2e2451;
  }

  /**MAIN STYLES**/
  .main {
    padding: 2rem;
  }
}

@media screen and (min-width: 60rem) {
  /**HEADER STYLES **/
  .logo {
    width: 15rem;
  }

  /**FOOTER STYLES **/
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer-content {
    justify-self: start;
    padding-left: 1.5em;
  }
  .footer-socials {
    align-self: center;
  }
}
